<div class="container" style="width: 60%">
  <div class="card mt-5">
    <div class="card-body">
      <h2 class="mb-5">About LOAF</h2>
      <p>
        Welcome to <span style="font-weight: 700">L</span>ightweight &
        <span style="font-weight: 700">O</span>pen-source
        <span style="font-weight: 700">A</span>nonymous
        <span style="font-weight: 700">F</span>orum!
      </p>
      <p>
        LOAF provides a safe space for students to discuss academic topics and
        seek help without fear of judgment or repercussions. We believe everyone
        should have access to a supportive community that values accessible and
        non-judgemental communication.
      </p>
      <p>
        Anonymity is the core principle of our platform. We do not collect any
        personally identifiable information from our users or store IP addresses
        or other identifying data. This ensures that students can participate in
        discussions without fear of being traced or tracked.
      </p>
      <p>
        We believe that accessible support is essential for academic success.
        Our platform provides a space for students to ask questions, share their
        ideas, and receive constructive feedback from their peers, all while
        remaining anonymous. We welcome students from all backgrounds and
        encourage respectful and collaborative discourse.
      </p>
      <p>
        LOAF is designed to be lightweight, meaning it does not require
        excessive resources or contain unnecessary elements, such as
        advertisements or pop-ups. This makes LOAF accessible to a broader range
        of users, including those with slower internet connections or older
        devices. The design philosophy of LOAF is to provide an intuitive and
        minimalistic user experience.
      </p>
      <p>
        As an
        <a
          href="https://en.wikipedia.org/wiki/Open-source_software"
          target="_blank"
          >open-source software</a
        >, the source code is publicly available for anyone to review and
        contribute to. This allows us to benefit from the collective knowledge
        and expertise of the community, resulting in a more secure and stable
        platform. Moreover, this means anyone can deploy their own instance of
        LOAF, allowing them to run their own forum and customize it however they
        like.
      </p>
      <p>
        We are dedicated to providing a positive user experience and would
        welcome any feedback or questions from our users. Whether it's a
        suggestion for a feature, a report of a bug, or a general question about
        the platform, feel free to
        <a
          href="https://github.com/cabbagecabbagecabbage/LOAF/issues"
          target="_blank"
          >create an issue</a
        >
        at our GitHub repository.
      </p>
    </div>
  </div>
</div>
