.content:hover {
  background: rgba(0, 0, 0, 0.1);
}
td a {
  display: block;
  padding: 1rem;
  text-decoration: none;
}
thead {
  background-color: rgba(52, 53, 65);
}
* {
  color: white;
}
.container {
  margin-top: 3rem;
}
table {
  border-radius: 10rem !important;
  border: 1px solid rgba(255,255,255,0.4);
}
thead > tr > th {
  padding: 1rem;
}
tbody > tr > td {
  padding: 0;
}