<div class="container" style="width: 80%;">
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Title</th>
        <th scope="col">Tags</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- <div [routerLink]="['post','post.id']"> -->
      <tr class="content" *ngFor="let post of posts">
        <!-- <th scope="row">{{ post.id }}</th> -->
        <td class="title-col">
          <a [routerLink]="['posts', post.id]">{{ post.title }}</a>
        </td>
        <td class="tag-col">
          <a [routerLink]="['posts', post.id]">{{ post.tag }}</a>
        </td>
        <td class="date-col">
          <a [routerLink]="['posts', post.id]">{{
            post.date | date : "MM/dd/yyyy h:mm a"
          }}</a>
        </td>
      </tr>
      <!-- </div> -->
    </tbody>
  </table>
</div>
