<div class="container d-flex justify-content-center" style="width: 80%">
  <div class="search-bar my-5 d-flex align-items-center" style="width: 75%;">
    <form (submit)="searchPosts()" class="form-inline w-100">
      <div class="input-group w-100">
        <button type="submit">Search</button>
        <input
        type="text"
        class="form-control"
        id="searchQuery"
        name="searchQuery"
        [(ngModel)]="searchQuery"
        style="resize: none;"
      />
      </div>
    </form>
  </div>
</div>
